<!--escreve 'html' quando abre a página e aperta 'TAB' que as coisas já aparecem -->
<!DOCTYPE html>
<!--comentário faz assim no html -->
<html>
	<head style="background-color:#89c4f4">
		<title>Contato</title>
		<meta charset="utf-8"><!-- para aceitar caracteres especiais-->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body style="background-color:#89c4f4">
		<header style="height: 120px">
			<img src="https://www.flaticon.com/premium-icon/icons/svg/1183/1183120.svg" style="max-height: 100px; max-width: 100px; position: absolute; top: 20px; left: 20px;">
			<h1 style="margin-top: 0px; margin-left: 150px">The Fence</h1>
			<h3 style="margin-left: 150px">Algum 'lema' de segurança/localização bom</h3>
		</header><<!-- cabeçalho -->
	<section>
		<nav style="width: 100%; position: absolute; left: 20px; height: 20px"><li><a href="\" class="btn btn-primary">Início</a></li></nav>
		<nav style="width: 100%; position: absolute; left: 100px; height: 20px"><li><a href="\sobre" class="btn btn-primary">Sobre</a></li></nav>
		<nav style="width: 100%; position: absolute; left: 180px; height: 20px"><li><a href="\contato" class="btn btn-primary">Contato</a></li></nav>
	</section><!--conteúdo-->
	<footer style="background-color: #336e7b">
			<h5 style="text-align: center;">IME 21</h5>
	</footer><!--rodapé-->
</body>
</html>