<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<header style="height: 100px">
			<img src="https://www.google.com.br/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiZk8C88_bdAhUHEZAKHWeGCoQQjRx6BAgBEAU&url=https%3A%2F%2Fwww.python.org%2F&psig=AOvVaw3Tivmm9-8tLsuJh8MLIbr1&ust=1539090076631329" style="max-height: 50px; max-width: 50px; position: absolute; top: 20px; left: 20px;">
			<h1>O font tá vendo putaria no netflix</h1>
		</header>
		<section style="background-color: #16a085">
			<h2>é vdd esse bilete</h2>
		</section>
	</body>
</html>