{% extends 'base.html' %}

{% block content %}
  <h2 style="position: absolute; top:200px; left: 20px">Realize seu login</h2>
  {% if form.errors %}
    <p style="color: red; position: absolute; top: 196px; left: 20px">Usuário ou senha incorretos. Tente novamente.</p>
  {% endif %}
  <form style="position: absolute; top:260px; left: 20px" method="post">
    {% csrf_token %}
    <!--<input type="text" name="next" value="{{ next }}" />-->
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <button style="top:250px; left: 20px" type="submit">Entrar</button>
    <a style="top:250px" href="{% url 'signup' %}">Novo no site? Inscreva-se aqui!</a>
  </form>
{% endblock %}