{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
	<h2 style="position: absolute; top:200px; left: 20px">Bem vindo, {{user.profile.primeiro_nome}} </h2>
	<h3 style=" width: fit-content; position:absolute; top:260px; left: 18%">Seus aparelhos cadastrados: </h3>     <b><a style="position: absolute; top:282px; left: 50%" href="{% url 'cadastroaparelhos' %}">[+]</a></b>
	<h4 style="position: absolute; top:340px; left: 10%">{{user.profile.nome_aparelho}} </h4>
	<form  style="position: absolute; top:330px; left: 25%" method="post">
	{% csrf_token %}
	{% for field in form %}
	<p>
	  {{ field.label_tag }}<br>
	  {{ field }}
	  {% if field.help_text %}
		<small style="color: black">{{ field.help_text }}</small>
	  {% endif %}
	</p>
	  <button style="top:460px; left: 20px" type="submit">Submeter Bairro!</button>
</form>
  {% endfor %}
	<!--<select name="Bairros" style="position: absolute; top:350px; left:20%">
  		<option value="">Selecione os Bairros</option>
  		<option value="Saúde">Saúde</option>
  		<option value="Gamboa">Gamboa</option>
  		<option value="Santo Cristo">Santo Cristo</option>
  		<option value="Urca">Urca</option>
  		<option value="Botafogo">Botafogo</option>
  		<option value="Flamengo">Flamengo</option>
	</select>-->
{% endif %}
{% endblock %}