<html>
	<head style="background-color:#e4f1fe">
		<title>Sobre</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body style="background-color:#e4f1fe">
		<header style="height: 120px">
			<img src="https://www.flaticon.com/premium-icon/icons/svg/1183/1183120.svg" style="max-height: 100px; max-width: 100px; position: absolute; top: 20px; left: 20px;">
			<h1 style="margin-top: 20px; margin-left: 150px">The Fence</h1>
			<h3 style="margin-left: 150px">Algum 'lema' de segurança/localização bom</h3>
			<nav style="width: 100%; position:absolute; top:30px; right: 40px"><li><a href="\singup" class="btn btn-primary">Sing Up</a></li></nav>
		</header>
		<section>
			<nav style="width: 100%; position: absolute; top:160px; left: 20px; height: 20px"><li><a href="\" class="btn btn-primary">Início</a></li></nav>
			<nav style="width: 100%; position: absolute; top:160px; left: 100px; height: 20px"><li><a href="\sobre" class="btn btn-primary">Sobre</a></li></nav>
			<nav style="width: 100%; position: absolute; top:160px; left: 180px; height: 20px"><li><a href="\contato" class="btn btn-primary">Contato</a></li></nav>
			<div style="position: absolute; top:200px"><h2>Somos da IME 21</h2></div>		
		</section>
	</body>
</html>