<html>
	<head style="background-color:#bdc3c7">
		<title>Sobre</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body style="background-color:#bdc3c7">
		<header style="height: 120px">
			<img src="https://www.flaticon.com/premium-icon/icons/svg/1183/1183120.svg" style="max-height: 1000px; max-width: 1000px; position: absolute; top: 20px; left: 20px;">
			<h1 style="left: 1500px;">The Fence</h1>
			<h2>Algum 'lema' de segurança/localização bom</h2>
		</header>
		<section>
		</section>
		<footer>
			<h2>IME 21</h2>
		</footer>
	</body>
</html>